* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container-top {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.nav-bar-left {
    width: 300px;
    overflow: auto;
    flex-shrink: 0;
    background-color: rgb(0, 0, 0);
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    color: rgb(116, 116, 116);
}

.content-main {
    flex-grow: 1;
}


.top-main-bar {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    background-color: rgb(17, 19, 25);
    position: fixed;
    z-index: 100;
}


.content {
    height: 100%;
    flex-grow: 1;
    padding-top: 110px;
    overflow: auto;
    background-color: rgb(27, 31, 39);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 10rem;
}

.container-bottom {
    flex-shrink: 0;
    background-color: rgb(44, 44, 44);
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo-lg {
    width: 60%;
}

.padding-bottom-0-5rem {
    padding-bottom: 0.5rem;
}

.padding-bottom-1rem {
    padding-bottom: 1rem;
}


.padding-top-0-5rem {
    padding-top: 0.5rem;
}

.padding-top-1rem {
    padding-top: 1rem;
}

.padding-left-0-5rem {
    padding-left: 0.5rem;
}

.padding-left-1-5rem {
    padding-left: 1.5rem;
}

.flex {
    display: flex;
}

.ico-nav-left {
    width: 30px;
}

.white {
    color: white;
}

.bg-grey {
    background-color: rgb(127, 127, 127);

}

.ico-add-playlist {
    font-size: 25px;
    background-color: rgb(161, 161, 161);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.align {
    align-items: center;
}

.ico-nav-left-bottom {
    width: 20px;
}

.column {
    flex-direction: column;
    overflow: auto;
}

.img-profile-container {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.img-profile {
    background-image: url(../img/profile.svg);
}

.hr-profile {
    width: calc(300px - 3rem);
}

.logo-mobile {
    display: none;
}

.btn {
    background-color: black;
    color: white;
    margin-top: 1.5rem;
    margin-right: 2rem;
    border-radius: 25px;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: fixed;
    font-weight: bold;
    top: 0;
    right: 0;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: rgb(123, 125, 130);
    padding-right: 1rem;
    font-weight: bold;
}

.row {
    padding-top: 3rem;
}

.wrap {
    flex-wrap: wrap;
}

.title-spotify {
    font-size: 30px;
    padding-left: 0.5rem;
}

.text-center {
    text-align: center;
}

.card-structure {
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.img-music {
    width: 100%;
}

.pause-img {
    position: relative;
}

.pause-music {
    font-size: 80px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pause-img:hover .pause-music {
    display: block;
}

.pause-img:hover {
    opacity: 0.8;
}

.content ul li a:hover,
h4:hover {
    color: white;
}

.bottom-line-green {
    margin: 0.5rem auto;
    width: 40px;
    border: 2px solid rgb(169, 255, 57);
}

.left-green-line {
    height: 25px;
    border-left: 3px solid rgb(169, 255, 57);
}

i,
img,
.account,
h4 {
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.grey {
    color: rgb(123, 125, 130);
}

.img-radius {
    border-radius: 50%;
}

.none-text-mobile {
    display: none;
}

.padding-top-3rem {
    padding-top: 3rem;
}

.ico-bottom-left {
    width: 50px;
}

.small-font {
    font-size: 12px;
}

.padding-left-1rem {
    padding-left: 1rem;
}

.padding-right-1rem {
    padding-right: 1rem;
}

.space {
    justify-content: space-between;
}

.font-big {
    font-size: 30px;
}

.time-music {
    width: 500px;
}

.padding-right-0-5rem {
    padding-right: 0.5rem;
}

.margin-left {
    margin-left: -0.2rem;
}

.container-bottom-left {
    width: 225px;
}

.container-bottom-right {
    width: 300px;
}

.container-bottom-mid {
    max-width: 100%;
}

@media screen and (max-width: 1100px) {
    .card-structure {
        width: calc(100% / 4 - 20px);
        margin: 10px;
    }

    .time-music {
        width: 370px;
    }
}

.text-end {
    text-align: end;
}

@media screen and (max-width: 700px) {
    .card-structure {
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }

    .none-text-dekstop {
        display: none;
    }

    .none-text-mobile {
        display: block;
    }

    .content-main {
        overflow-x: hidden;
    }

    .no-flex {
        display: block;
    }

    .padding-top-3rem {
        padding-top: 3rem;
    }

    .time-music {
        width: 60%
    }

    .font-big {
        font-size: 25px;
    }

    .volume {
        width: 35%;
    }

}


@media screen and (max-width: 600px) {

    .nav-bar-left h4,
    .nav-bar-left h3,
    .ico-add-playlist,
    .hr-profile,
    .logo-lg {
        display: none;
    }

    .logo-mobile {
        display: block;
        width: 30px;
    }

    .img-profile-container {
        width: 30px;
        height: 30px;
    }

    .nav-bar-left {
        width: calc(100px - 1.5rem)
    }

    #text-none-mobile {
        display: none;
    }

    #text-block-mobile {
        display: block;
    }

}